.input--container {
  position: relative;
}

.input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--neutral-light-two);
  text-align: end;
  width: 100%;
  height: 100%;
  padding: 0 0.5em;
  font: inherit;
  font-size: 24px;
  color: var(--neutral-very-dark);
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;

  &::placeholder {
    color: var(--neutral-dark-two)
  }

  &:focus {
    border: 2px solid var(--primary);
  }
}

.error {
  border: 2px solid var(--neutral-reddish);

  &:focus {
    border: 2px solid var(--neutral-reddish);
  }
}

.input__icon {
  content: '';
  position: absolute;
  top: 0.625rem;
  left: 1rem;
}
