.input--container {
  position: relative;
}

.input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--neutral-light-two);
  text-align: end;
  width: 280px;
  padding: 0 0.5em;
  font: inherit;
  color: var(--neutral-very-dark);
  font-size: 24px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;

  &::placeholder {
    color: var(--neutral-dark-two)
  }

  &:focus {
    border: 2px solid var(--primary);
  }

}

.input__icon {
  position: absolute;
  content: 'word';
  top: 0.625rem;
  left: 1rem;
}
