.button {
  background-color: var(--neutral-very-dark);
  //padding: 0.5em 1.5em;
  width: 8rem;
  height: 2.75rem;
  align-items: center;
  justify-content: center;
  //min-width: 5rem;
  //min-height: 2rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--neutral-white);
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.1s;

  &:hover {
    cursor: pointer;
    background-color: var(--neutral-primary-shade);
    color: var(--neutral-very-dark);
  }

  &:active {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--neutral-very-dark);
  }
}

.active {
  background-color: var(--primary);
  color: var(--neutral-very-dark);
}

@media (min-width: 768px) {
  .button {
    width: 7rem
  }
}
