.main-section {
  display: grid;
  grid-gap: 2rem;
  background-color: var(--neutral-white);
  padding: 2em;
  border-radius: 10px;
}

@media (min-width: 768px) {

  .main-section {
    grid-template-columns: 1fr 1fr;
  }
}

.main-section__input-part {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 1em 0;
}

.input-part__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rate-choice-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 0.5rem;
}

@media (min-width: 395px) {
  .rate-choice-section {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
}

@media (min-width: 768px) {
  .rate-choice-section {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message--wrapper {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: var(--neutral-reddish);
}

.label-input--container {
  min-width: 50px;
  max-width: 150px;
}

.label-input {
  width: 100%;
}

.main-section__output-part {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--neutral-very-dark);
  padding: 2em;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .main-section__output-part {
    justify-content: space-between;
    padding: 3em 2em;
  }
}

.output-part__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .output-part__items {
    gap: 2.5rem;
  }
}

.output-part__item {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.label {
  display: grid;
  grid-gap: 0.25rem;
}

.label-heading {
  font-size: 0.80rem;
  color: var(--neutral-white)
}

.amount {
  font-size: 1.6rem;
  color: var(--primary)
}
