.app-container {
  width: 100%;
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-gap: 2rem;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  margin: 5rem auto;
}

@media (min-width: 768px) {
  .app {
    width: 70%;

  }
}

.header {
  display: flex;
  justify-content: center;
}
